[submodule "external/cmake-ci"]
	path = external/cmake-ci
	url = ../cmake-ci.git
[submodule "external/wfc"]
	path = external/wfc
	url = ../wfc.git
	branch = master
[submodule "external/rocksdb"]
	path = external/rocksdb
	url = ../rocksdb.git
	branch = master
